<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="/JS/script.js"></script>
    <title>Discoverfy</title>
</head>
<body>
    <%- include('../partials/header') %>

    <section class="songs">
        <div class="songs-head">
            <h3 class="list-title" id="recommendations-title">Recommendations for <%= name %></h3>

        </div>
        <div class="list">
            <% songs.forEach(song => { %>
            <div class="song-list-item recommend-item">
                <div class="song-details">
                    <p class="song-title" id="recommendation-track-title"><%= song.name %></p>
                    <p class="artists-name" id="recommendation-artists"><%= song.artists %></p>
                </div>    
                <div class="btn-right">
                    <button class="audio-btn"><i class="fa fa-play"></i></button>
                    <audio class="recommend-audio">
                        <source src="<%= song.preview %>" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <% }) %>                
        </div>
    </section>
</body>
</html>